extends ../layout

block content
	form(method="post", action="/parking-lots")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Create New Parking Lot
			div.card-body
				div.row
					div.col
						legend 
							small 
								i.fe.fe-file-text 
								span Basic Information
						div.form-group
							label.form-label Name
							input.form-control(type="text", name="name", placeholder="Enter Lot Name")
						div.form-group
							label.form-label Capacity
							input.form-control(type="number", name="capacity", placeholder="Enter Capacity")
						
					div.col
						legend 
							small 
								i.fe.fe-file-text 
								span Parking Avaivable Time
						div.row
							div.col
								div.form-group
									label.form-label Opening At
									input.form-control(type="time", name="opening_at", placeholder="Enter Lot Name")
							div.col
								div.form-group
									label.form-label Closing At
									input.form-control(type="time", name="closing_at", placeholder="Enter Lot Name")
						div.form-group
							label.form-label Description
							textarea.form-control( name="description", rows="5", placeholder="Enter Description")

				div.mb-5
					legend
						small 
							i.fe.fe-file-text 
							span Price USD
					div.row
						
						div.col
							div.form-group
								label.form-label Car
								input.form-control(type="number", name="price_usd_car", placeholder="Enter unit price")
						
						div.col
							div.form-group
								label.form-label Motor
								input.form-control(type="number", name="price_usd_motor", placeholder="Enter unit price")

						div.col
							div.form-group
								label.form-label Bikecycle
								input.form-control(type="number", name="price_usd_bikecycle", placeholder="Enter unit price")
				
				div.mb-5
					legend 
						small 
							i.fe.fe-file-text 
							span Price Riel
					div.row
						
						div.col
							div.form-group
								label.form-label Car
								input.form-control(type="number", name="price_riel_car", placeholder="Enter unit price")
						
						div.col
							div.form-group
								label.form-label Motor
								input.form-control(type="number", name="price_riel_motor", placeholder="Enter unit price")
										
						div.col
							div.form-group
								label.form-label Bikecycle
								input.form-control(type="number", name="price_riel_bikecycle", placeholder="Enter unit price")

			div.card-footer.text-right
				a.btn.btn-secondary(href="/parking-lots") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

