extends ../layout

block content
	form(method="post", action="/parking-lots/update")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Edit Parking Lot
			div.card-body
				div.form-group
					label.form-label Name
					input.form-control.is-invalid(type="text", name="name", placeholder="Enter Lot Name")
					div.invalid-feedback Name is required
				div.form-group
					label.form-label Name
					input.form-control.is-invalid(type="text", name="name", placeholder="Enter Lot Name")
					div.invalid-feedback Name is required
				div.form-group
					label.form-label Name
					input.form-control.is-invalid(type="text", name="name", placeholder="Enter Lot Name")
					div.invalid-feedback Name is required
				div.form-group
						label.form-label Name
						select.form-control.custom-select.selectized#select-beast(name="beast", tabindex="-1", style="display: none;")
							option(value="1", selected="selected") Chuck Testa
						select.form-control.custom-select#select-beast(name="beast")
							option(value="1") Hello


			div.card-footer.text-right
				a.btn.btn-secondary(href="/parking-lots") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

