extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span Parking Lots List
			div.card-options
				a.btn.btn-primary.btn-sm.ml-2(href="parking-lots/create")
					i.fe.fe-plus 
					| Add New
		div.card-body
			div.table-responsive(style="min-height: 200px")
				table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
					thead
						tr
							th.text-center.w-1 #
							th Name
							th.text-center Capacity
							th Modified
							th.text-center Status
							th
					tbody
						each lot in data
							tr
								td.text-center
								td
									a(href="/management/vehicles/show/" + lot.id)
										div #{lot.name}
										div.small.text-muted 
											span Created: #{lot.created_at}
								td.text-center
									span  #{lot.capacity}
								td 
									span #{lot.updated_at}
								td.text-center
									label.custom-switch.m-0
										input.custom-switch-input.switch(
											type="checkbox", 
											value=lot.status,
											checked=!!lot.status,
											data-id=lot.id
										)
										span.custom-switch-indicator
								td.text-center
									div.item-action.dropdown
										a.icon(href="javascript:void(0)", data-toggle="dropdown")
											i.fe.fe-more-vertical
										div.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href="/parking-lots" + lot.id)
												i.dropdown-icon.fe.fe-tag
												| View
											a.dropdown-item(href="/parking-lots" + lot.id)
												i.dropdown-icon.fe.fe-edit-2
												| Edit
											a.dropdown-item.delete-action(
												href="#",
												data-id=lot.id,
												data-url="/parking-lots",
												data-toggle="modal",
												data-target="#modal-delete"
											)
												i.dropdown-icon.fe.fe-delete
												| Delete







