extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span Parking Lots Detail
			div.card-options
				a.btn.btn-secondary.btn-sm.ml-2(href="/parking-lots")
					i.fe.fe-arrow-left-circle 
					| Back
				a.btn.btn-danger.btn-sm.ml-2(href="/parking-lots/delete/1")
					i.fe.fe-delete 
					| Delete
				a.btn.btn-primary.btn-sm.ml-2(href="/parking-lots/edit/1")
					i.fe.fe-edit 
					| Edit
		div.card-body
			div.row
				div.col-3
					div.h6 Relationship
				div.col-9
					p Relationship