body {
  font: 14px "Panton-Regular", "Archivo", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form legend {
	font-size: 1.2rem !important;
	margin-bottom: 2rem;
	font-weight: 600 !important;
}