extends ../layout

block content
	form(method="post", action="/parking-lots")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Create New User
			div.card-body

				div.row
					
					div.col-md-6
						legend 
							small 
								i.fe.fe-file-text 
								span Basic Information
						div.row
							div.col
								div.form-group
									label.form-label First Name
									input.form-control.is-invalid(type="text", name="firstname", placeholder="Enter First Name")
									div.invalid-feedback First Name is required
							div.col
								div.form-group
									label.form-label Last Name
									input.form-control.is-invalid(type="text", name="lastname", placeholder="Enter Last Name")
									div.invalid-feedback Last Name is required

						div.form-group
							label.form-label Date of Birth
							input.form-control.is-invalid(type="date", name="dob", data-mask="00/00/0000", data-mask-clearifnotmatch="true", placeholder="00/00/0000")
							div.invalid-feedback Last Name is required			

						div.form-group
							label.form-label Avatar
							div.custom-file
								input.custom-file-input.is-invalid(type="file", name="avatar", placeholder="Enter avatar")
								label.custom-file-label Choose Image
								div.invalid-feedback Avatar is required

						div.form-group
								label.form-label Gender
								select#select-gender.form-control.custom-select(name="gender")
									option(value="1") Male
									option(value="2") Female	
									option(value="0") Other	
						div.form-group
									label.form-label Email
									input.form-control.is-invalid(type="email", name="email", placeholder="Enter email")
									div.invalid-feedback Last Name is required
						 
						div.form-group
							label.form-label Address
							textarea.form-control(name="address", placeholder="Enter address")

						div.form-group
							label.form-label Description
							textarea.form-control(name="description", placeholder="Enter description")
						

					div.col-md-6
						legend 
							small 
								i.fe.fe-user-plus 
								span Account Information
						
						div.form-group
								label.form-label User Group
								select.form-control.custom-select#select-group(name="gender")
									option(value="1") Group 1
									option(value="2") Group 2	
									option(value="0") Group 3	

						div.form-group
							label.form-label Username
							input.form-control.is-invalid(type="text", name="name", placeholder="Enter Lot Name")
							div.invalid-feedback Name is required
						div.form-group
							label.form-label Phone
							input.form-control.is-invalid(type="text", name="name", placeholder="Enter Lot Name")
							div.invalid-feedback Name is required
						div.form-group
							label.form-label Password
							input.form-control.is-invalid(type="password", name="password", placeholder="Enter password")
							div.invalid-feedback Password is required

						div.form-group
							label.form-label Confirmation
							input.form-control.is-invalid(type="password", name="confirmation", placeholder="Enter confirmation")
							div.invalid-feedback Confirmation is required
						 


			div.card-footer.text-right
				a.btn.btn-secondary(href="/parking-lots") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

