extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span User Managemnet List
			div.card-options
				a.btn.btn-primary.btn-sm.ml-2(href="/management/users/create")
					i.fe.fe-plus 
					| Add New
		div.card-body
			div.table-responsive(style="min-height: 200px")
				table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
					thead
						tr
							th.text-center.w-1 #
							th Group Name
							th Email
							th Modified
							th.text-center Status
							th
					tbody
						tr
							td.text-center 01
							td
								a(href="/parking-lots/show/1")
									div Sokha
									div.small.text-muted Created: Mar 19, 2018

							td sensokha.master@gmail.com
							td Mar 19, 2018
							td.text-center
								span.status-icon.bg-success 
								span Active
							td.text-center
								div.item-action.dropdown
									a.icon(href="javascript:void(0)", data-toggle="dropdown")
										i.fe.fe-more-vertical
									div.dropdown-menu.dropdown-menu-right
										a.dropdown-item(href="/parking-lots/show/1")
											i.dropdown-icon.fe.fe-tag
											| View
										a.dropdown-item(href="/parking-lots/edit/1")
											i.dropdown-icon.fe.fe-edit-2
											| Edit
										a.dropdown-item(href="/parking-lots/delete/1")
											i.dropdown-icon.fe.fe-delete
											| Delete
