doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Archivo:400,500,600')

		<!-- Dashboard Core -->
		link(href="/assets/css/dashboard.css", rel="stylesheet")
		

	body
		div.page
			div.page-single
				div.container
					div.row
						div.col.col-login.mx-auto
							form.card(action="/auths", method="POST")
								div.card-body.p-6
									div.card-title
										p Login Your Account
										if messages.error
											div.alert.alert-danger.alert-dismissible.fade.show
												strong #{messages.error}
									div.form-group
										label.form-label
											p Username
										input.form-control(type="text", name="name", placeholder="Enter username")
										if messages.error_name
											small.text-danger #{messages.error_name}

									div.form-group
										label.form-label
											p Password
										input.form-control(type="password", name="password", placeholder="Enter password")
										if messages.error_password
											small.text-danger #{messages.error_password}
									div.form-group
										label.custom-control.custom-checkbox
											input.custom-control-input(type="checkbox")
											span.custom-control-label Remember Me
									div.form-footer
										button.btn.btn-primary.btn-block Login


