extends ../layout

block content
	form(method="post", action="/management/user-groups")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Create New User Group
			div.card-body

				div.form-group
					label.form-label Group Name
					input.form-control(type="text", name="name", placeholder="Enter Group Name", class=messages.error_name?'is-invalid': '')
					if messages.error_name
						div.invalid-feedback= messages.error_name

				label.form-label Group Permission
				div.row.text-center
					div.col-auto
						div.form-group
							label.colorinput
								input.colorinput-input#permission-check-all(type="checkbox", name="can_all", value="1")
								span.colorinput-color.bg-azure
							label.form-label All


					div.col-auto
						div.form-group
							label.colorinput
								input.colorinput-input#can-read(type="checkbox",  value="1", checked="true")
								span.colorinput-color.bg-azure
							label.form-label Read

					div.col-auto
						div.form-group
							label.colorinput
								input.colorinput-input#can-write(type="checkbox", name="can_write", value="1")
								span.colorinput-color.bg-azure
							label.form-label Write


					div.col-auto
						div.form-group
							label.colorinput
								input.colorinput-input#can-modify(type="checkbox", name="can_modify", value="1")
								span.colorinput-color.bg-azure
							label.form-label Modify


					div.col-auto
						div.form-group
							label.colorinput
								input.colorinput-input#can-delete(type="checkbox", name="can_delete", value="1")
								span.colorinput-color.bg-azure
							label.form-label Delete

				div.form-group
					label.form-label Description
					textarea.form-control(name="description", rows="5", placeholder="Enter description")

			div.card-footer.text-right
				a.btn.btn-secondary(href="/management/user-groups") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

	script(src="/javascripts/user-group.js")

