extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span User Group Managemnet List
			div.card-options
				a.btn.btn-primary.btn-sm.ml-2(href="/management/user-groups/create")
					i.fe.fe-plus 
					| Add New
		div.card-body
			div.table-responsive(style="min-height: 200px")
				table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
					thead
						tr
							th.text-center.w-1
							th Name
							th Permissions
							th Last Modified
							th
					tbody
						each user_group in data
							tr
								td.text-center
								td
									a(
									href="/management/user-groups/show/" + user_group.id
									)
										div= user_group.name
										div.small.text-muted Created: #{user_group.created_at}

								
								td
									span= user_group.can_read? 'Read, ': ''
									span= user_group.can_write? 'Write, ': ''
									span= user_group.can_modify? 'Modify, ': ''
									span= user_group.can_delete? 'Delete ': ''
								td 
									span=user_group.updated_at
								td.text-center
									div.item-action.dropdown
										a.icon(href="javascript:void(0)", data-toggle="dropdown")
											i.fe.fe-more-vertical
										div.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href="/management/user-groups/show/" + user_group.id)
												i.dropdown-icon.fe.fe-tag
												| View
											a.dropdown-item(href="/management/user-groups/edit/" + user_group.id)
												i.dropdown-icon.fe.fe-edit-2
												| Edit
											a.dropdown-item.delete-action(
												href="#",
												data-id=user_group.id,
												data-url="/management/user-groups/delete",
												data-toggle="modal",
												data-target="#modal-delete"
											)
												i.dropdown-icon.fe.fe-delete
												| Delete
			
