extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span User Group Detail
			div.card-options
				a.btn.btn-secondary.btn-sm.ml-2(href="/management/user-groups")
					i.fe.fe-arrow-left 
					| Back
				a.btn.btn-danger.delete-action.btn-sm.ml-2(
					href="#",
					data-id=data.id,
					data-url="/management/user-groups/delete",
					data-toggle="modal",
					data-target="#modal-delete"
				)
					i.fe.fe-delete 
					| Delete

				a.btn.btn-primary.btn-sm.ml-2(href="/management/user-groups/edit/" + data.id)
					i.fe.fe-edit 
					| Edit

		div.card-body(style="min-height: 500px")
			div.row
				div.col-md-6
					div.row
						label.col-md-3
							span.form-label Name : 
						span.col-md-9
							span= data.name

					div.row
						label.col-md-3
							span.form-label Permissions : 
						span.col-md-9
							span= data.can_read? 'Read, ': ''
							span= data.can_write? 'Write, ': ''
							span= data.can_modify? 'Modify, ': ''
							span= data.can_delete? 'Delete ': ''

					div.row
						label.col-md-3
							span.form-label Description : 
						span.col-md-9
							span= data.description

				div.col-md-6
					div.row
						label.col-md-3
							span.form-label Created : 
						span.col-md-9
							span= data.created_at

					div.row
						label.col-md-3
							span.form-label By : 
						span.col-md-9
							span= data.created_by_name

					div.row
						label.col-md-3
							span.form-label Modified : 
						span.col-md-9
							span= data.updated_at

					div.row
						label.col-md-3
							span.form-label By : 
						span.col-md-9
							span= data.updated_by_name

