extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-minimize-2 
				span Checked In Parkers
		div.card-body
			div.row
				div.col-md-4
					div#chart-donut1(style=";")
				div.col-md-8
					div.table-responsive(style="min-height: 200px")
						table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
							thead
								tr
									th.text-center.w-1 #
									th ID
									th Plat Number
									th Checked Time
									th.text-center Status
									th
							tbody

	div.card
		div.card-header
			h1.card-title
				i.fe.fe-maximize-2 
				span Checked Out Parkers
		div.card-body
			div.row
				div.col-md-4
					div#chart-donut2(style=";")
				div.col-md-8
					div.table-responsive(style="min-height: 200px")
						table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
							thead
								tr
									th.text-center.w-1 #
									th ID
									th Plat Number
									th Checked Time
									th.text-center Status
									th
							tbody

	script(src='/javascripts/graph.js') 
