extends ../layout

block content
	form(method="post", action="/management/vehicles")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Create New Vehicle Type
			div.card-body

				div.form-group
					label.form-label Name
					input.form-control(
						type="text", name="name", 
						placeholder="Enter name", 
						class=messages.error_name? 'is-invalid': ''
					)
					if messages.error_name
						div.invalid-feedback= messages.error_name

				div.form-group
					label.form-label Description
						span.text-muted (optional)
					textarea.form-control(name="description", rows="8", placeholder="Enter description")
				


			div.card-footer.text-right
				a.btn.btn-secondary(href="/management/vehicles") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

	script(src="/javascripts/user-group.js")

