extends ../layout

block content
	form(method="post", action="/management/vehicles/update")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-pencil 
					span Edit Vehicle Type
			div.card-body
				input(
					type="hidden", 
					name="vehicle_id", 
					value=data.id
				)
				div.form-group
					label.form-label Name
					input.form-control(
						type="text", name="name", 
						placeholder="Enter name", 
						class=messages.error_name? 'is-invalid': '',
						value=data.name
					)
					if messages.error_name
						div.invalid-feedback= messages.error_name

				div.form-group
					label.form-label Status
					select#select-gender.form-control.custom-select(name="status")
						option(value="1", selected=data.status) Enabled
						option(value="0", selected=!data.status) Disabled

				div.form-group
					label.form-label Description
						span.text-muted (optional)
					textarea.form-control(
						name="description", 
						rows="8", 
						placeholder="Enter description"
					)= data.description
				


			div.card-footer.text-right
				a.btn.btn-secondary(href="/management/vehicles") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

	script(src="/javascripts/user-group.js")

