extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span Vehicle Type List
			div.card-options
				a.btn.btn-primary.btn-sm.ml-2(href="/management/vehicles/create")
					i.fe.fe-plus 
					| Add New
		div.card-header
			//- h1.card-title
			//- a.btn.card-options-fullscreen(data-toggle="card-fullscreen")
			//- 		i.fe.fe-maximize
			div.card-options
				form(action="", method="get")
					div.input-group
						input.form-control(type="text", name="search", placeholder="Search...", value=old.search)
						span.input-group-btn.ml-1
							button.btn.btn-sm.btn-default.btn-clear(type="button")
								span.fe.fe-x
						span.input-group-btn.ml-1
							button.btn.btn-sm.btn-default(type="submit")
								span.fe.fe-search

		div.card-body
			div.table-responsive(style="min-height: 200px")
				table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
					thead
						tr
							th.text-center.w-1 
							th Name
							th Modified
							th.text-center Status
							th
					tbody
						each vihecle in data
							tr
								td.text-center
								td
									a(href="/management/vehicles/show/" + vihecle.id)
										div #{vihecle.name}
										div.small.text-muted 
											span Created: #{vihecle.created_at}

								td 
									span #{vihecle.updated_at}
								td.text-center
									label.custom-switch.m-0
										input.custom-switch-input.switch(
											type="checkbox", 
											value=vihecle.status,
											checked=!!vihecle.status,
											data-id=vihecle.id
										)
										span.custom-switch-indicator
								td.text-center
									div.item-action.dropdown
										a.icon(href="javascript:void(0)", data-toggle="dropdown")
											i.fe.fe-more-vertical
										div.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href="/management/vehicles/show/" + vihecle.id)
												i.dropdown-icon.fe.fe-tag
												| View
											a.dropdown-item(href="/management/vehicles/edit/" + vihecle.id)
												i.dropdown-icon.fe.fe-edit-2
												| Edit
											a.dropdown-item.delete-action(
												href="#",
												data-id=vihecle.id,
												data-url="/management/vehicles/delete",
												data-toggle="modal",
												data-target="#modal-delete"
											)
												i.dropdown-icon.fe.fe-delete
												| Delete
			
			div.mt-5
				//- include ../includes/pagination.pug

