extends layout

block content
	
	each lot in data

		div.row
			div.col-md-6
				div.card
					div.card-body.p-3.text-center
						div.h1.m-0= lot.name
					div.card-body.text-center
						div.text-green.h5 Check-in Today
							div.display-4.font-weight-bold.text-muted.mb-4 0 Parker (s)
							div.progress.progress-sm
								div.progress-bar.bg-green(style="width:0%")

			div.col-md-6
				div.card
					div.card-body.p-3.text-center
						div.h1.m-0= lot.name
					div.card-body.text-center
						div.text-green.h5 Check-out Today
							div.display-4.font-weight-bold.text-muted.mb-4 0 Parker (s)
							div.progress.progress-sm
								div.progress-bar.bg-green(style="width:0%")
