doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Archivo:400,500,600') 
		script(src='/assets/js/vendors/jquery-3.2.1.min.js') 
		script(src='/assets/js/require.min.js') 
		script(src='/javascripts/admin.js') 

		<!-- Dashboard Core -->
		link(href="/assets/css/dashboard.css", rel="stylesheet")
		script(src="/assets/js/dashboard.js")
		<!-- c3.js Charts Plugin -->
		link(href="/assets/plugins/charts-c3/plugin.css", rel="stylesheet")
		script(src="/assets/plugins/charts-c3/plugin.js")
		<!-- Google Maps Plugin -->
		link(href="/assets/plugins/maps-google/plugin.css", rel="stylesheet")
		script(src="/assets/plugins/maps-google/plugin.js")
		<!-- Input Mask Plugin -->
		script(src="/assets/plugins/input-mask/plugin.js")
		link(href="/stylesheets/style.css", rel="stylesheet")


	body
		include ./includes/modal-delete.pug
		div.page
			div.page-main

				include ./includes/header.pug

				<!--start content-->
				div.my-3.my-md-5
					div.container
						div.page-header
							h4.page-title #{title}
						 
						include ./includes/success-alert.pug
						include ./includes/failure-alert.pug

						block content

				<!--end content-->


