extends ../layout

block content
	form(method="post", action="/parking-controllers")
		div.card
			div.card-header
				h1.card-title
					i.fe.fe-plus 
					span Create Lot Controller
			div.card-body

				div.row
					
					div.col-md-6
						legend 
							small 
								i.fe.fe-file-text 
								span Basic Information
						div.row
							div.col
								div.form-group
									label.form-label First Name
									input.form-control(type="text", name="firstname", placeholder="Enter First Name", value=messages.old_firstname)
							div.col
								div.form-group
									label.form-label Last Name
									input.form-control(type="text", name="lastname", placeholder="Enter Last Name")
									 

						div.form-group.d-none
							label.form-label Photo
							div.custom-file
								input.custom-file-input(type="file", name="avatar", placeholder="Enter avatar")
								label.custom-file-label Choose Image
								div.invalid-feedback Avatar is required

						div.form-group
							label.form-label Date of Birth
							input.form-control(type="date", name="dob", data-mask="00/00/0000", data-mask-clearifnotmatch="true", placeholder="00/00/0000") 		

						div.form-group
								label.form-label Gender
								select#select-gender.form-control.custom-select(name="gender")
									option(value="Male") Male
									option(value="Female") Female	
									option(value="Other") Other	
						div.form-group
									label.form-label Email
									input.form-control(type="email", name="email", placeholder="Enter email")
									 
						 
						div.form-group
							label.form-label Address
							textarea.form-control(name="address", placeholder="Enter address", rows="5")
							

					div.col-md-6
						legend 
							small 
								i.fe.fe-user-plus 
								span Account Information
						
						div.form-group
								label.form-label Parking Lot
								select.form-control.custom-select#select-group(name="parking_lot_id")
									each lot in lots
										option(value=lot.id)= lot.name

						div.form-group
							label.form-label Username
							input.form-control(type="text", name="username", placeholder="Ente username")
							 
						div.form-group
							label.form-label Phone
							input.form-control(type="text", name="phone", placeholder="Enter phone")
							 
						div.form-group
							label.form-label Password
							input.form-control(type="password", name="password", placeholder="Enter password")
							 

						div.form-group
							label.form-label Confirmation
							input.form-control(type="password", name="confirmation", placeholder="Enter confirmation")
						div.form-group
							label.form-label Description
							textarea.form-control(name="description", placeholder="Enter description", rows="5")
						 


			div.card-footer.text-right
				a.btn.btn-secondary(href="/parking-lots") 
					i.fe.fe-x 
					span Cancel
				button.btn.btn-primary.ml-2(type="submit") 
					i.fe.fe-save 
					span Save

