extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span Lot Controller
			div.card-options
				a.btn.btn-primary.btn-sm.ml-2(href="/parking-controllers/create")
					i.fe.fe-plus 
					| Add New
		div.card-body
			div.table-responsive(style="min-height: 200px")
				table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
					thead
						tr
							th.text-center.w-1 #
							th Name
							th Modified
							th.text-center Status
							th
					tbody
						each controller in data
							tr
								td.text-center
								td
									a(href="/parking-controllers/show/" + controller.id)
										div #{controller.name}
										div.small.text-muted 
											span Created: #{controller.created_at}

								td 
									span #{controller.updated_at}
								td.text-center
									label.custom-switch.m-0
										input.custom-switch-input.switch(
											type="checkbox", 
											value=controller.status,
											checked=!!controller.status,
											data-id=controller.id
										)
										span.custom-switch-indicator
								td.text-center
									div.item-action.dropdown
										a.icon(href="javascript:void(0)", data-toggle="dropdown")
											i.fe.fe-more-vertical
										div.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href="parking-controllers/show/" + controller.id)
												i.dropdown-icon.fe.fe-tag
												| View
											a.dropdown-item(href="parking-controllers/edit/" + controller.id)
												i.dropdown-icon.fe.fe-edit-2
												| Edit
											a.dropdown-item.delete-action(
												href="#",
												data-id=controller.id,
												data-url="/parking-controllers",
												data-toggle="modal",
												data-target="#modal-delete"
											)
												i.dropdown-icon.fe.fe-delete
												| Delete