extends ../layout

block content
	div.card
		div.card-header
			h1.card-title
				i.fe.fe-list 
				span Lot Controller Detail
			div.card-options
				a.btn.btn-secondary.btn-sm.ml-2(href="/parking-controllers")
					i.fe.fe-arrow-left 
					| Back
				a.btn.btn-danger.delete-action.btn-sm.ml-2(
					href="#",
					data-id=data.id,
					data-url="/parking-controllers/delete",
					data-toggle="modal",
					data-target="#modal-delete"
				)
					i.fe.fe-delete 
					| Delete

				a.btn.btn-primary.btn-sm.ml-2(href="/parking-controllers/edit/" + data.id)
					i.fe.fe-edit 
					| Edit

		div.card-body(style="min-height: 500px")
			legend.my-5
				small 
					i.fe.fe-file-text 
					span Basic Information
			div.row
				div.col-md-6
					div.row
						label.col-md-3
							span.form-label First Name : 
						span.col-md-9
							span= data.firstname

					div.row
						label.col-md-3
							span.form-label Last Name : 
						span.col-md-9
							span= data.lastname

					div.row
						label.col-md-3
							span.form-label Gender : 
						span.col-md-9
							span= data.gender

					div.row
						label.col-md-3
							span.form-label Date of Birth : 
						span.col-md-9
							span= data.dob

					div.row
						label.col-md-3
							span.form-label Email : 
						span.col-md-9
							span= data.email


					div.row
						label.col-md-3
							span.form-label Adress : 
						span.col-md-9
							span= data.address || "None"

				 
					legend.my-5 
						small 
							i.fe.fe-user-plus 
							span Account Information
					div.row
						label.col-md-3
							span.form-label Username : 
						span.col-md-9
							span= data.name

					div.row
						label.col-md-3
							span.form-label Phone : 
						span.col-md-9
							span= data.phone
					 

				div.col-md-6
					div.row
						label.col-md-3
							span.form-label Created : 
						span.col-md-9
							span= data.created_at

					div.row
						label.col-md-3
							span.form-label By : 
						span.col-md-9
							span= data.created_by_name

					div.row
						label.col-md-3
							span.form-label Modified : 
						span.col-md-9
							span= data.updated_at

					div.row
						label.col-md-3
							span.form-label By : 
						span.col-md-9
							span= data.updated_by_name

