if messages.failure
	div.alert.alert-danger.alert-dismissible.fade.show
		span #{messages.failure || "No Message"}
		button.close(type="button", data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true")