<!--start primary header-->
div.header.py-4
	div.container
		div.d-flex
			a.header-brand(href="#")
				img.header-brand-img(src="#", alt="")
				span Parking Management
				div.d-flex.order-lg-2.ml-auto
					div.nav-item.d-none.d-md-flex
						a.btn.btn-sm.btn-outline-primary(href="#") User Guide
					div.dropdown.d-none.d-md-flex
						a.nav-link.icon(data-toggle="dropdown")
							i.fe.fe-bell
							span.nav-unread
						div.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
							a.dropdown-item.d-flex(href="#")
								span.avatar.mr-3.align-self-center(style="background-image: url('#')")
								div
									strong sokha 
									span recieve a notifiaction.
									div.small.text-muted 10 minutes ago
					div.dropdown
						a.nav-link.pr-0.leading-none(data-toggle="dropdown")
							span.avatar(style="background-image: url(#)")
							span.ml-2.d-none.d-lg-block
								span.text-default Sokha Sen
								small.text-muted.d-block.mt-1 Administrator
						div.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
							a.dropdown-item(href="#")
								i.dropdown-icon.fe.fe-user
								span Profile
							a.dropdown-item(href="#")
								i.dropdown-icon.fe.fe-settings
								span Settings
							div.dropdown-divider
							a.dropdown-item(href="/auths/logout")
								i.dropdown-icon.fe.fe-log-out
								span Sign out
				a.header-toggler.d-lg-none.ml-3.ml-lg-0(href="#", data-toggle="collapse", data-target="#headerMenuCollapse")
					span.header-toggler-icon
<!--end primary page-header-->

<!--start secondary header-->
div.header.collapse.d-lg-flex.p-0(id="headerMenuCollapse")
	div.container
		div.row.align-items-center
			div.col-lg-3.ml-auto
				
			div.col-lg.order-lg-first
				ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
					li.nav-item
						a.nav-link.active(href="/")
							i.fe.fe-monitor 
							span Dashboard
					li.nav-item
						a.nav-link(href="/checked-lots")
							i.fe.fe-map-pin 
							span Checked Lots
					li.nav-item
						a.nav-link(href="/parking-lots")
							i.fe.fe-grid 
							span Parking Lots
					li.nav-item
						a.nav-link(href="/parking-controllers")
							i.fe.fe-users 
							span Lot Controller
					li.nav-item
						a.nav-link(href="#", data-toggle="dropdown")
							i.fe.fe-box
							span Management
						div.dropdown-menu.dropdown-menu-arrow
							a.dropdown-item(href="/management/users") 
								i.fe.fe-user
								span Users
							a.dropdown-item(href="/management/user-groups") 
								i.fe.fe-users
								span User Groups
							a.dropdown-item(href="/management/vehicles") 
								i.fe.fe-truck
								span Vehicle Type
<!--end secondary header-->