form#form-delete(method="post")
	input#resource-id(type="hidden", name="resource_id" value="0")
	div.modal.fade#modal-delete(
		tabindex="-1",
		role="dialog" 
		aria-labelledby="modalDeleteLabel",
		aria-hidden="true"
	)
		div.modal-dialog.modal-dialog-centered(role="document")
			div.modal-content
				div.modal-header
					h5.modal-title#modalDeleteLabel Delete Message
					button.close(
						type="button",
						data-dismiss="modal", 
						aria-label="Close"
					)
						span(aria-hidden="true")
				div.modal-body
					span Are you sure that you want permanantly delete the selected item?
				div.modal-footer
					button.btn.btn-secondary(
						type="button",
						data-dismiss="modal"
					)
						span Cancel

					button.btn.btn-primary(
						type="submit"
					)
						span Delete
				
