div.row
	div.col-6.text-right
		p.mt-2 Page #{data.from_page || 0} of #{data.total_page || 0}
	nav.col-6(aria-label="pagination")
		ul.pagination.pagination-sm
			li.page-item.active
				a.page-link(href="#", tabindex="-1")
					| 1
			li.page-item
				a.page-link(href="#", tabindex="-1")
					| 2
			li.page-item
				a.page-link(href="#", tabindex="-1")
					| 3
