if messages.success
	div.alert.alert-success.alert-dismissible.fade.show
		span #{messages.success || "No Message"}
		button.close(type="button", data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true")